.checkoutItems {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: black 3px solid;
	align-items: center;
}

.removeFromCart {
	font-size: 17px;
	padding: 6px;
	border-radius: 18px;
	border: 3px #404040 solid;
	background-color: #7731b1;
	color: #e5dede;
	margin: 10px;
	cursor: pointer;
}

.border {
	border: 3px solid black;
}

.shoppingCart {
	border-bottom: black 3px solid;
}

.totalCost {
	padding-left: 20px;
}

.orderTotal {
	display: flex;
	font-size: 18px;
	padding-top: 20px;
}
