.Login {
	display: flex;
	flex-direction: column;
	width: 100px;
	margin: auto;
}

.Login > * {
	margin-top: 10px;
}

.input {
	margin: auto;
	height: 50px;
	width: 50px;
}

.loginTitle {
	font-size: 30px;
}

.disabled {
	pointer-events: none;
	opacity: 50%;
}
