.addToCart {
	font-size: 0.8rem;
	padding: 0.2rem;
	margin: 0.1rem;
	border-radius: 0.5rem;
	border: 0.1rem #404040 solid;
	background-color: #f0c040;
	width: 15%;
	cursor: pointer;
}

.input {
	width: 3rem;
}
